<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#">Strona Główna</a></li>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Kursy</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</header>
<section>
    <div>
        <form action="" method="post">
            <label class="lb-registry" for="email">Email</label><input class="inp-txt-input" id="email" name="email" type="text">
            <label class="lb-registry" for="password">Hasło</label><input class="inp-txt-input" id="password" name="password" type="password">
        </form>
        <div class="forget-password">
            <span><a href="#">Zapomniałem hasła</a></span>
        </div>
    </div>

</section>
<footer>

</footer>

</body>